[package]
name = "gdm"
version = "0.1.0"
edition = "2021"
default-run = "gdm"

[[bin]]
name = "gdm"
path = "src/main.rs"

[[bin]]
name = "gdm-update"
path = "src/updater/main.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.2.1", features = ["derive"] }
directories = "5.0.0"
dotenvy = "0.15.7"
dunce = "1.0.3"
futures-util = "0.3.28"
indicatif = "0.17.3"
path-clean = "1.0.1"
rand = "0.8.5"
reqwest = { version = "0.11.16", features = ["json", "stream"] }
serde = "1.0.159"
serde_derive = "1.0.159"
serde_json = "1.0.95"
serde_with = "2.3.1"
thiserror = "1.0.40"
tokio = { version = "1.27.0", features = ["full"] }
zip = "0.6.4"
