[package]
name = "gdm"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.2.1", features = ["derive"] }
dotenvy = "0.15.7"
dunce = "1.0.3"
error-chain = "0.12.4"
indicatif = "0.17.3"
path-clean = "1.0.1"
reqwest = { version = "0.11.16", features = ["json"] }
serde = "1.0.159"
serde_derive = "1.0.159"
serde_json = "1.0.95"
serde_with = "2.3.1"
tokio = { version = "1.27.0", features = ["full"] }
