[target.i686-unknown-linux-gnu]
pre-build = [
    "dpkg --add-architecture $CROSS_DEB_ARCH && apt update && apt install -y pkg-config openssl:$CROSS_DEB_ARCH libssl-dev:$CROSS_DEB_ARCH"
]

[target.aarch64-unknown-linux-gnu]
pre-build = [
    "dpkg --add-architecture $CROSS_DEB_ARCH && apt update && apt install -y pkg-config openssl:$CROSS_DEB_ARCH libssl-dev:$CROSS_DEB_ARCH"
]
