name: CI

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  build_matrix:
    name: Build (${{ matrix.os }} ${{ matrix.target_name }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            target_name: x64
            cargo_cmd: cargo
          - os: ubuntu-latest
            target: i686-unknown-linux-gnu
            target_name: x86
            cargo_cmd: cross
          - os: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            target_name: arm64
            cargo_cmd: cross
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            target_name: x64
            cargo_cmd: cargo
          - os: windows-latest
            target: i686-pc-windows-msvc
            target_name: x86
            cargo_cmd: cargo
    steps:
      - uses: actions/checkout@v4
      - name: Set up Rust toolchain
        if: ${{ matrix.cargo_cmd != 'cross' }}
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          targets: ${{ matrix.target }}
      - name: Install cross
        if: ${{ matrix.cargo_cmd == 'cross' }}
        run: |
          cargo install cross
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH
      - name: Cache
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: "${{ matrix.os }}-${{ matrix.target }}-${{ hashFiles('**/Cargo.lock') }}"
      - name: Test
        run: "${{ matrix.cargo_cmd }} test --locked --all-features --verbose --target ${{ matrix.target }}"
      - name: Build
        run: "${{ matrix.cargo_cmd }} build --locked --verbose --target ${{ matrix.target }}"
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: gdm-${{ matrix.os }}-${{ matrix.target_name }}-${{ github.sha }}
          if-no-files-found: error
          path: |
            target/${{ matrix.target }}/debug/gdm*
            !target/${{ matrix.target }}/debug/gdm*.d

  build_macOS:
    name: Build (MacOS)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          targets: x86_64-apple-darwin, aarch64-apple-darwin
      - name: Cache
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: "macos-latest-${{ hashFiles('**/Cargo.lock') }}"
      - name: Test
        run: "cargo test --locked --all-features --verbose --target x86_64-apple-darwin"
      - name: Build (x64)
        run: "cargo build --locked --verbose --target x86_64-apple-darwin"
      - name: Build (arm64)
        run: "cargo build --locked --verbose --target aarch64-apple-darwin"
      - name: Combine
        run: |
          mkdir -p target/combined
          lipo -create -output target/combined/gdm target/x86_64-apple-darwin/debug/gdm target/aarch64-apple-darwin/debug/gdm
          lipo -create -output target/combined/gdm-update target/x86_64-apple-darwin/debug/gdm-update target/aarch64-apple-darwin/debug/gdm-update
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: gdm-macos-universal-${{ github.sha }}
          if-no-files-found: error
          path: |
            target/combined/gdm*
            !target/combined/gdm*.d
