name: CI

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build_matrix:
    name: Build (${{ matrix.os }})
    concurrency:
      group: Build-${{ matrix.os }}
      cancel-in-progress: true
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        rust: [stable]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Rust toolchain (${{ matrix.rust }})
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
      - name: Cache
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: ${{ matrix.os }}-${{ matrix.rust }}
      - name: Test
        run: cargo test --all-features --verbose
      - name: Build
        run: cargo build
      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: gdm-${{ matrix.os }}-${{ github.sha }}
          if-no-files-found: error
          path: |
            target/release/gdm*
            !target/release/gdm*.d
